.w-100{
    width: 100%;
}

.flex {
    display: flex;
}
.justify-content-between {
    justify-content: space-between;
}
.align-items-center {
    align-items: center;
}
.justify-content-center {
    justify-content: center;
}

::ng-deep .mat-form-field,
::ng-deep app-builder {
    width: 100%;
}

::ng-deep app-builder {
    height: 100%;
    overflow-x: auto;
}

.not-found {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    max-width: 40%;
    margin: 25px auto 0;
    h1 {
        color: #44b51e;
        font-weight: bold;
        margin: 10px 0 0;
    }
}

.button-wrapper {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 94%;
    padding: 2.5% 3%;
    background: #e4e4e4;
    border-top: 1px solid #ddd;
}

::ng-deep .com-sec-part {
    margin-bottom: 15px;
    .mat-form-field-wrapper {
        padding-bottom: 0;
    }
    h2 {
        margin: 0;
    }
}